/* 全局样式表 */
html,body,#app{
  height: 100%;
  margin: 0;
  padding: 0;
  /* 样式表的最小宽度 */
  min-width:1366px ;
}
/* 解决http://localhost:8080/categories
网页中级联数据出错以及数据太高等问题 */
 .el-cascader-menu { 
   height: 300px;
   width: 20px;
    }
  .el-steps {
    margin: 15px 0;
  }
  /* 富文本编辑器的高度 */
  .ql-editor{
    min-height:500px ;
  }
  .time {
    font-size: 13px;
    color: #999;
  }
  
  .bottom {
    margin-top: 13px;
    line-height: 12px;
  }

  .button {
    padding: 0;
    float: right;
  }

  .image {
    width: 100%;
    display: block;
  }

  .clearfix:before,
  .clearfix:after {
      display: table;
      content: "";
  }
  
  .clearfix:after {
      clear: both
  }
  
